.airline-grid-item-card {
  border: 2px solid #000;
  border-radius: 5px;
  background: #3796cb;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.airline-grid-item-logo-container {
  width: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.airline-grid-item-logo {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid #fff
}

.airline-grid-item-name {
  padding: 20px 0 10px 0;
}

.airline-grid-item-link-container {
  margin: 30px 0 20px 0;
  height: 50px;
}

.airline-grid-item-link {
  color: #fff;
  background: #000;
  border-radius: 4px;
  padding: 10px 50px;
  border: 1px solid #000;
  width: 100%;
  text-decoration: none;
}