.delete-review-button {
  height: 23px;
  width: 18px;
  background-color: red;
  margin-left: auto;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  border: 2px solid black;
  box-shadow: 2px 2px 2px grey;
}

.x-symbol {
  margin-top: -10px;
  color: white;
  font-weight: lighter;
}

.delete-review-button:hover {
  background: darkred;
}